<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hepsa.Core.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Hepsa.Core.My.MySettings>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NewButton" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="EditButton" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="DeleteButton" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="ExportButton" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="PrintButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UndoFilterButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClearFilterButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RefreshButton" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="CloseButton" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="SaveAndContinueButton" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="SaveAndCloseButton" serializeAs="String">
                <value>122</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="CompanyID" serializeAs="String">
                <value/>
            </setting>
            <setting name="FiscalYearID" serializeAs="String">
                <value/>
            </setting>
            <setting name="WindowsAuthenticationMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataBaseName" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="DataBaseUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="DataBasePassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="BrowseButton" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="SelectButton" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="FindNextButton" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="AddParentButton" serializeAs="String">
                <value>122</value>
            </setting>
            <setting name="AddChildButton" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value/>
            </setting>
            <setting name="HelpButton" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="ShowTotal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPanel" serializeAs="String">
                <value>False</value>
            </setting>
        </Hepsa.Core.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
