<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- application specific settings -->
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="DataDynamicsARLic" value="a,b,c,XIS94HVO7F9VFS8H9OHH" />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <HPS.Properties.Settings>
      <setting name="FormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="NewButton" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="EditButton" serializeAs="String">
        <value>113</value>
      </setting>
      <setting name="DeleteButton" serializeAs="String">
        <value>46</value>
      </setting>
      <setting name="ExportButton" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="PrintButton" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterButton" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UndoFilterButton" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ClearFilterButton" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RefreshButton" serializeAs="String">
        <value>116</value>
      </setting>
      <setting name="CloseButton" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="SaveAndContinueButton" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="SaveAndCloseButton" serializeAs="String">
        <value>122</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="CompanyID" serializeAs="String">
        <value />
      </setting>
      <setting name="FiscalYearID" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowsAuthenticationMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataBaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="DataBaseUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DataBasePassword" serializeAs="String">
        <value />
      </setting>
      <setting name="BrowseButton" serializeAs="String">
        <value>114</value>
      </setting>
      <setting name="SelectButton" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="FindNextButton" serializeAs="String">
        <value>114</value>
      </setting>
      <setting name="AddParentButton" serializeAs="String">
        <value>122</value>
      </setting>
      <setting name="AddChildButton" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="PrinterName" serializeAs="String">
        <value />
      </setting>
      <setting name="HelpButton" serializeAs="String">
        <value>112</value>
      </setting>
      <setting name="ShowTotal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPanel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaloonID_int" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaloonIDComboBoxIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RepeatLadeAssignmentComment" serializeAs="String">
        <value />
      </setting>
    </HPS.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <HPS.Properties.Settings>
      <setting name="TBZRMTO_WebReference_ServiceRefrence" serializeAs="String">
        <value>http://172.20.229.206/servicerefrence.asmx</value>
      </setting>
      <setting name="TBZRMTO_CheckOnlineRefrence_ServiceRefrence" serializeAs="String">
        <value>http://localhost/OnlineInformationChecking.asmx</value>
      </setting>
      <setting name="TBZRMTO_WebReference2_OnlineInformationChecking"
        serializeAs="String">
        <value>http://192.168.1.112/OnlineInformationChecking.asmx</value>
      </setting>
      <setting name="TBZRMTO_WebReference3_OnlineInformationChecking"
        serializeAs="String">
        <value>http://192.168.1.103:802/OnlineInformationChecking.asmx</value>
      </setting>
      <setting name="TBZRMTO_ir_rmto_smartcard_PKG_RMTO_WSService"
        serializeAs="String">
        <value>http://smartcard.rmto.ir:9090/orawsv/TR_PUBLIC_WS/PKG_RMTO_WS</value>
      </setting>
    </HPS.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
